/*
*Library for responsive webpage layout using flex-box properties
*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.item {
  margin: 0;
  padding-left: 0.9375em;
  padding-right: 0.9375em; }

.item.container {
  padding-left: 0;
  padding-right: 0; }

.xs-5 {
  width: 5%; }

.xs-10 {
  width: 10%; }

.xs-15 {
  width: 15%; }

.xs-20 {
  width: 20%; }

.xs-25 {
  width: 25%; }

.xs-30 {
  width: 30%; }

.xs-35 {
  width: 35%; }

.xs-40 {
  width: 40%; }

.xs-45 {
  width: 45%; }

.xs-50 {
  width: 50%; }

.xs-55 {
  width: 55%; }

.xs-60 {
  width: 60%; }

.xs-65 {
  width: 65%; }

.xs-70 {
  width: 70%; }

.xs-75 {
  width: 75%; }

.xs-80 {
  width: 80%; }

.xs-85 {
  width: 85%; }

.xs-90 {
  width: 90%; }

.xs-95 {
  width: 95%; }

.xs-100 {
  width: 100%; }

.col-xs-1 {
  width: 16.66667%; }

.col-xs-2 {
  width: 33.33333%; }

.col-xs-3 {
  width: 50%; }

.col-xs-4 {
  width: 66.66667%; }

.col-xs-5 {
  width: 83.33333%; }

.col-xs-6 {
  width: 100%; }

.xs-start, .xs-center, .xs-end, .xs-between, .xs-around, .xs-top, .xs-middle, .xs-bottom, .xs-column, .xs-reverse, .xs-column-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.xs-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.xs-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.xs-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.xs-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.xs-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.xs-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.xs-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.xs-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end; }

.xs-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.xs-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.xs-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

@media screen and (min-width: 480px) {
  .sm-5 {
    width: 5%; }
  .sm-10 {
    width: 10%; }
  .sm-15 {
    width: 15%; }
  .sm-20 {
    width: 20%; }
  .sm-25 {
    width: 25%; }
  .sm-30 {
    width: 30%; }
  .sm-35 {
    width: 35%; }
  .sm-40 {
    width: 40%; }
  .sm-45 {
    width: 45%; }
  .sm-50 {
    width: 50%; }
  .sm-55 {
    width: 55%; }
  .sm-60 {
    width: 60%; }
  .sm-65 {
    width: 65%; }
  .sm-70 {
    width: 70%; }
  .sm-75 {
    width: 75%; }
  .sm-80 {
    width: 80%; }
  .sm-85 {
    width: 85%; }
  .sm-90 {
    width: 90%; }
  .sm-95 {
    width: 95%; }
  .sm-100 {
    width: 100%; }
  .col-sm-1 {
    width: 16.66667%; }
  .col-sm-2 {
    width: 33.33333%; }
  .col-sm-3 {
    width: 50%; }
  .col-sm-4 {
    width: 66.66667%; }
  .col-sm-5 {
    width: 83.33333%; }
  .col-sm-6 {
    width: 100%; }
  .sm-start, .sm-center, .sm-end, .sm-between, .sm-around, .sm-top, .sm-middle, .sm-bottom, .sm-column, .sm-reverse, .sm-column-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .sm-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .sm-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .sm-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .sm-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .sm-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .sm-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
  .sm-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .sm-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end; }
  .sm-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .sm-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .sm-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

@media screen and (min-width: 768px) {
  .md-5 {
    width: 5%; }
  .md-10 {
    width: 10%; }
  .md-15 {
    width: 15%; }
  .md-20 {
    width: 20%; }
  .md-25 {
    width: 25%; }
  .md-30 {
    width: 30%; }
  .md-35 {
    width: 35%; }
  .md-40 {
    width: 40%; }
  .md-45 {
    width: 45%; }
  .md-50 {
    width: 50%; }
  .md-55 {
    width: 55%; }
  .md-60 {
    width: 60%; }
  .md-65 {
    width: 65%; }
  .md-70 {
    width: 70%; }
  .md-75 {
    width: 75%; }
  .md-80 {
    width: 80%; }
  .md-85 {
    width: 85%; }
  .md-90 {
    width: 90%; }
  .md-95 {
    width: 95%; }
  .md-100 {
    width: 100%; }
  .col-md-1 {
    width: 16.66667%; }
  .col-md-2 {
    width: 33.33333%; }
  .col-md-3 {
    width: 50%; }
  .col-md-4 {
    width: 66.66667%; }
  .col-md-5 {
    width: 83.33333%; }
  .col-md-6 {
    width: 100%; }
  .md-start, .md-center, .md-end, .md-between, .md-around, .md-top, .md-middle, .md-bottom, .md-column, .md-reverse, .md-column-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .md-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .md-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .md-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .md-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .md-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .md-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
  .md-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .md-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end; }
  .md-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .md-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .md-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

@media screen and (min-width: 1024px) {
  .lg-5 {
    width: 5%; }
  .lg-10 {
    width: 10%; }
  .lg-15 {
    width: 15%; }
  .lg-20 {
    width: 20%; }
  .lg-25 {
    width: 25%; }
  .lg-30 {
    width: 30%; }
  .lg-35 {
    width: 35%; }
  .lg-40 {
    width: 40%; }
  .lg-45 {
    width: 45%; }
  .lg-50 {
    width: 50%; }
  .lg-55 {
    width: 55%; }
  .lg-60 {
    width: 60%; }
  .lg-65 {
    width: 65%; }
  .lg-70 {
    width: 70%; }
  .lg-75 {
    width: 75%; }
  .lg-80 {
    width: 80%; }
  .lg-85 {
    width: 85%; }
  .lg-90 {
    width: 90%; }
  .lg-95 {
    width: 95%; }
  .lg-100 {
    width: 100%; }
  .col-lg-1 {
    width: 16.66667%; }
  .col-lg-2 {
    width: 33.33333%; }
  .col-lg-3 {
    width: 50%; }
  .col-lg-4 {
    width: 66.66667%; }
  .col-lg-5 {
    width: 83.33333%; }
  .col-lg-6 {
    width: 100%; }
  .lg-start, .lg-center, .lg-end, .lg-between, .lg-around, .lg-top, .lg-middle, .lg-bottom, .lg-column, .lg-reverse, .lg-column-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .lg-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .lg-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .lg-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .lg-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .lg-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .lg-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
  .lg-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .lg-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end; }
  .lg-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .lg-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .lg-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

@media screen and (min-width: 1440px) {
  .xl-5 {
    width: 5%; }
  .xl-10 {
    width: 10%; }
  .xl-15 {
    width: 15%; }
  .xl-20 {
    width: 20%; }
  .xl-25 {
    width: 25%; }
  .xl-30 {
    width: 30%; }
  .xl-35 {
    width: 35%; }
  .xl-40 {
    width: 40%; }
  .xl-45 {
    width: 45%; }
  .xl-50 {
    width: 50%; }
  .xl-55 {
    width: 55%; }
  .xl-60 {
    width: 60%; }
  .xl-65 {
    width: 65%; }
  .xl-70 {
    width: 70%; }
  .xl-75 {
    width: 75%; }
  .xl-80 {
    width: 80%; }
  .xl-85 {
    width: 85%; }
  .xl-90 {
    width: 90%; }
  .xl-95 {
    width: 95%; }
  .xl-100 {
    width: 100%; }
  .col-xl-1 {
    width: 16.66667%; }
  .col-xl-2 {
    width: 33.33333%; }
  .col-xl-3 {
    width: 50%; }
  .col-xl-4 {
    width: 66.66667%; }
  .col-xl-5 {
    width: 83.33333%; }
  .col-xl-6 {
    width: 100%; }
  .xl-start, .xl-center, .xl-end, .xl-between, .xl-around, .xl-top, .xl-middle, .xl-bottom, .xl-column, .xl-reverse, .xl-column-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .xl-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .xl-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .xl-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .xl-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .xl-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .xl-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
  .xl-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .xl-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end; }
  .xl-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .xl-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .xl-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

.full {
  max-width: 100%; }

.show-from-xs {
  display: none; }

.show-to-xs {
  display: none; }

@media screen and (max-width: 479px) {
  .show-from-sm {
    display: none; } }

@media screen and (min-width: 480px) {
  .show-to-sm {
    display: none; } }

@media screen and (max-width: 767px) {
  .show-from-md {
    display: none; } }

@media screen and (min-width: 768px) {
  .show-to-md {
    display: none; } }

@media screen and (max-width: 1023px) {
  .show-from-lg {
    display: none; } }

@media screen and (min-width: 1024px) {
  .show-to-lg {
    display: none; } }

@media screen and (max-width: 1439px) {
  .show-from-xl {
    display: none; } }

@media screen and (min-width: 1440px) {
  .show-to-xl {
    display: none; } }
