header(style="padding: 2em 0;")
	span: a(href="/") LOGO Brand
	nav(style="display: inline-block; float: right")
		ul
			li(style="display: inline-block"): a(href="#") MENU-ITEM 1
			li(style="display: inline-block"): a(href="#") MENU-ITEM 2
			li(style="display: inline-block"): a(href="#") MENU-ITEM 3
			li(style="display: inline-block"): a(href="#") MENU-ITEM 4
			li(style="display: inline-block"): a(href="#") MENU-ITEM 5
