//- Paths
-mainCss = '/css/styles.css'
-flexLayout = '/css/flex-layout.min.css'
-scriptsPath = '/js/scripts.js'

-htmlLang = 'es-MX'
-pageTitle = 'Your own page title'
-pageDescription = 'Add an awesome description for your web site'

//- For Open Graph
-ogType = 'Opengraph Type'
-ogTitle = 'Opengraph Title'
-ogDescription = pageDescription
-ogUrl = 'Opengraph URL Website'
-ogImage = 'Opengraph image'
